Repository ccarcione/caprezzo-digitale: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_WebApi.CaprezzoDigitale, build_public-client, master_deploy_WebApi.CaprezzoDigitale, master_deploy_public-client, staging_deploy_WebApi.CaprezzoDigitale, staging_deploy_public-client, production_deploy_WebApi.CaprezzoDigitale, production_deploy_public-client

Path conditions:
  build_WebApi.CaprezzoDigitale: (any of: WebApi.CaprezzoDigitale/**/*) and (not (any of: *.md))
  build_public-client: (any of: public-client/**/*) and (not (any of: *.md))
  master_deploy_WebApi.CaprezzoDigitale: (any of: WebApi.CaprezzoDigitale/**/*) and (not (any of: *.md))
  master_deploy_public-client: (any of: public-client/**/*) and (not (any of: *.md))
  staging_deploy_WebApi.CaprezzoDigitale: not (any of: *.md)
  staging_deploy_public-client: not (any of: *.md)
  production_deploy_WebApi.CaprezzoDigitale: not (any of: *.md)
  production_deploy_public-client: not (any of: *.md)

update readme
  readme.md
Due: none

#73 update privacy policy
  public-client/src/app/app.component.html
  public-client/src/app/component/privacy-policy/privacy-policy.component.html
  public-client/src/app/component/privacy-policy/privacy-policy.component.ts
  public-client/src/assets/privacypolicy/privacypolicy-de.html
  public-client/src/assets/privacypolicy/privacypolicy-eng.html
  public-client/src/assets/privacypolicy/privacypolicy-esp.html
  public-client/src/assets/privacypolicy/privacypolicy-fr.html
  public-client/src/assets/privacypolicy/privacypolicy-ita.html
Due: build_public-client, master_deploy_public-client, staging_deploy_WebApi.CaprezzoDigitale, staging_deploy_public-client, production_deploy_WebApi.CaprezzoDigitale, production_deploy_public-client

#76 update email service
  WebApi.CaprezzoDigitale/Controllers/EmailController.cs
  WebApi.CaprezzoDigitale/Controllers/LogController.cs
  WebApi.CaprezzoDigitale/Startup.cs
  WebApi.CaprezzoDigitale/WebApi.CaprezzoDigitale.csproj
  WebApi.CaprezzoDigitale/appsettings.json
  WebApi.CaprezzoDigitale/nuget.config
Due: build_WebApi.CaprezzoDigitale, master_deploy_WebApi.CaprezzoDigitale, staging_deploy_WebApi.CaprezzoDigitale, staging_deploy_public-client, production_deploy_WebApi.CaprezzoDigitale, production_deploy_public-client

Update readme.md
  readme.md
Due: none

increase version
  WebApi.CaprezzoDigitale/WebApi.CaprezzoDigitale.csproj
  public-client/src/assets/version.json
Due: build_WebApi.CaprezzoDigitale, build_public-client, master_deploy_WebApi.CaprezzoDigitale, master_deploy_public-client, staging_deploy_WebApi.CaprezzoDigitale, staging_deploy_public-client, production_deploy_WebApi.CaprezzoDigitale, production_deploy_public-client

update yaml
  .gitlab-ci.yml
Due: staging_deploy_WebApi.CaprezzoDigitale, staging_deploy_public-client, production_deploy_WebApi.CaprezzoDigitale, production_deploy_public-client

fix-nome-tabbela-feedback
  WebApi.CaprezzoDigitale/Controllers/EmailController.cs
  WebApi.CaprezzoDigitale/Migrations/20210714155648_fix-nome-tabbela-feedback.Designer.cs
  WebApi.CaprezzoDigitale/Migrations/20210714155648_fix-nome-tabbela-feedback.cs
  WebApi.CaprezzoDigitale/Models/ApplicationDbContext.cs
  WebApi.CaprezzoDigitale/WebApi.CaprezzoDigitale.csproj
  public-client/src/assets/version.json
Due: build_WebApi.CaprezzoDigitale, build_public-client, master_deploy_WebApi.CaprezzoDigitale, master_deploy_public-client, staging_deploy_WebApi.CaprezzoDigitale, staging_deploy_public-client, production_deploy_WebApi.CaprezzoDigitale, production_deploy_public-client

rename feedback model
  WebApi.CaprezzoDigitale/Controllers/FeedbackController.cs
  WebApi.CaprezzoDigitale/Models/ApplicationDbContext.cs
  WebApi.CaprezzoDigitale/Models/Feedback.cs
  public-client/src/app/component/feedback/feedback.component.html
  public-client/src/app/component/feedback/feedback.component.ts
  public-client/src/app/email.service.ts
  public-client/src/app/feedback.service.spec.ts
  public-client/src/app/feedback.service.ts
  public-client/src/app/model/feedback.ts
Due: build_WebApi.CaprezzoDigitale, build_public-client, master_deploy_WebApi.CaprezzoDigitale, master_deploy_public-client, staging_deploy_WebApi.CaprezzoDigitale, staging_deploy_public-client, production_deploy_WebApi.CaprezzoDigitale, production_deploy_public-client

add guid
  public-client/package-lock.json
  public-client/package.json
  public-client/src/app/app.component.ts
Due: build_public-client, master_deploy_public-client, staging_deploy_WebApi.CaprezzoDigitale, staging_deploy_public-client, production_deploy_WebApi.CaprezzoDigitale, production_deploy_public-client

guid feedback e statistica
  WebApi.CaprezzoDigitale/Controllers/StatisticheController.cs
  WebApi.CaprezzoDigitale/Migrations/20210716004601_add-feedback-guid.Designer.cs
  WebApi.CaprezzoDigitale/Migrations/20210716004601_add-feedback-guid.cs
  WebApi.CaprezzoDigitale/Migrations/20210716011957_add-statistica-guid.Designer.cs
  WebApi.CaprezzoDigitale/Migrations/20210716011957_add-statistica-guid.cs
  WebApi.CaprezzoDigitale/Models/Statistica.cs
  public-client/src/app/feedback.service.ts
  public-client/src/app/model/feedback.ts
  public-client/src/app/statistiche.service.ts
  public-client/src/js/index.js
Due: build_WebApi.CaprezzoDigitale, build_public-client, master_deploy_WebApi.CaprezzoDigitale, master_deploy_public-client, staging_deploy_WebApi.CaprezzoDigitale, staging_deploy_public-client, production_deploy_WebApi.CaprezzoDigitale, production_deploy_public-client

default now() data on new record
  WebApi.CaprezzoDigitale/Controllers/StatisticheController.cs
  WebApi.CaprezzoDigitale/Migrations/20210716015553_add-auto-data-statistica-feedback.Designer.cs
  WebApi.CaprezzoDigitale/Migrations/20210716015553_add-auto-data-statistica-feedback.cs
  WebApi.CaprezzoDigitale/Models/ApplicationDbContext.cs
  WebApi.CaprezzoDigitale/Models/Feedback.cs
Due: build_WebApi.CaprezzoDigitale, master_deploy_WebApi.CaprezzoDigitale, staging_deploy_WebApi.CaprezzoDigitale, staging_deploy_public-client, production_deploy_WebApi.CaprezzoDigitale, production_deploy_public-client

fix import
  public-client/src/app/feedback.service.ts
Due: build_public-client, master_deploy_public-client, staging_deploy_WebApi.CaprezzoDigitale, staging_deploy_public-client, production_deploy_WebApi.CaprezzoDigitale, production_deploy_public-client

add new gallery component lib-ng-opengallery
  public-client/package-lock.json
  public-client/package.json
  public-client/src/app/app.module.ts
  public-client/src/app/component/galleria/galleria.component.css
  public-client/src/app/component/galleria/galleria.component.html
  public-client/src/app/component/galleria/galleria.component.ts
Due: build_public-client, master_deploy_public-client, staging_deploy_WebApi.CaprezzoDigitale, staging_deploy_public-client, production_deploy_WebApi.CaprezzoDigitale, production_deploy_public-client

isForceOpenDrawer when image is open
  public-client/src/app/component/galleria/galleria.component.ts
  public-client/src/app/layout/shell/shell.component.html
  public-client/src/app/layout/shell/shell.component.ts
  public-client/src/app/layout/shell/shell.service.ts
Due: build_public-client, master_deploy_public-client, staging_deploy_WebApi.CaprezzoDigitale, staging_deploy_public-client, production_deploy_WebApi.CaprezzoDigitale, production_deploy_public-client

fix object PaginationResult galleria
  public-client/src/app/galleria.service.ts
Due: build_public-client, master_deploy_public-client, staging_deploy_WebApi.CaprezzoDigitale, staging_deploy_public-client, production_deploy_WebApi.CaprezzoDigitale, production_deploy_public-client

update for fix MediaViewerComponent does not open if I select the same image twice
  public-client/package-lock.json
  public-client/package.json
Due: build_public-client, master_deploy_public-client, staging_deploy_WebApi.CaprezzoDigitale, staging_deploy_public-client, production_deploy_WebApi.CaprezzoDigitale, production_deploy_public-client

#78 fix mat-divider senza testo messaggio
  public-client/src/app/component/bacheca/bacheca.component.html
Due: build_public-client, master_deploy_public-client, staging_deploy_WebApi.CaprezzoDigitale, staging_deploy_public-client, production_deploy_WebApi.CaprezzoDigitale, production_deploy_public-client

bugfix generazione url copertina
  WebApi.CaprezzoDigitale/Controllers/MessaggioController.cs
Due: build_WebApi.CaprezzoDigitale, master_deploy_WebApi.CaprezzoDigitale, staging_deploy_WebApi.CaprezzoDigitale, staging_deploy_public-client, production_deploy_WebApi.CaprezzoDigitale, production_deploy_public-client

#78 aggiunto pdf-viewer
  public-client/angular.json
  public-client/package-lock.json
  public-client/package.json
  public-client/src/app/app-routing.module.ts
  public-client/src/app/app.module.ts
  public-client/src/app/component/bacheca/bacheca.component.css
  public-client/src/app/component/bacheca/bacheca.component.html
  public-client/src/app/component/pdf-viewer/pdf-viewer.component.css
  public-client/src/app/component/pdf-viewer/pdf-viewer.component.html
  public-client/src/app/component/pdf-viewer/pdf-viewer.component.spec.ts
  public-client/src/app/component/pdf-viewer/pdf-viewer.component.ts
  public-client/src/css/ngx-extended-pdf-viewer.css
Due: build_public-client, master_deploy_public-client, staging_deploy_WebApi.CaprezzoDigitale, staging_deploy_public-client, production_deploy_WebApi.CaprezzoDigitale, production_deploy_public-client

#78 update pdf-viewer-component into popup
  public-client/package-lock.json
  public-client/package.json
  public-client/src/app/app.module.ts
  public-client/src/app/component/bacheca/bacheca.component.html
  public-client/src/app/component/bacheca/bacheca.component.ts
  public-client/src/app/component/pdf-viewer/pdf-viewer.component.css
  public-client/src/app/component/pdf-viewer/pdf-viewer.component.html
  public-client/src/app/component/pdf-viewer/pdf-viewer.component.ts
Due: build_public-client, master_deploy_public-client, staging_deploy_WebApi.CaprezzoDigitale, staging_deploy_public-client, production_deploy_WebApi.CaprezzoDigitale, production_deploy_public-client

#78 update style pdf-viewer + remove component
  WebApi.CaprezzoDigitale/Controllers/MessaggioController.cs
  WebApi.CaprezzoDigitale/Migrations/20210729101806_update-field-copertina-messaggio.Designer.cs
  WebApi.CaprezzoDigitale/Migrations/20210729101806_update-field-copertina-messaggio.cs
  WebApi.CaprezzoDigitale/Models/Messaggio.cs
  WebApi.CaprezzoDigitale/SeedMockData.cs
  public-client/src/app/app-routing.module.ts
  public-client/src/app/app.module.ts
  public-client/src/app/component/bacheca/bacheca.component.css
  public-client/src/app/component/bacheca/bacheca.component.html
  public-client/src/app/component/bacheca/bacheca.component.ts
  public-client/src/app/component/messaggio/messaggio.component.css
  public-client/src/app/component/messaggio/messaggio.component.html
  public-client/src/app/component/messaggio/messaggio.component.spec.ts
  public-client/src/app/component/messaggio/messaggio.component.ts
  public-client/src/app/component/pdf-viewer/pdf-viewer.component.css
  public-client/src/app/component/pdf-viewer/pdf-viewer.component.html
  public-client/src/app/message.service.ts
  public-client/src/app/model/messaggio.ts
Due: build_WebApi.CaprezzoDigitale, build_public-client, master_deploy_WebApi.CaprezzoDigitale, master_deploy_public-client, staging_deploy_WebApi.CaprezzoDigitale, staging_deploy_public-client, production_deploy_WebApi.CaprezzoDigitale, production_deploy_public-client

fix error message
  WebApi.CaprezzoDigitale/Controllers/MessaggioController.cs
  WebApi.CaprezzoDigitale/Controllers/StatisticheController.cs
  public-client/src/app/component/bacheca/bacheca.component.html
Due: build_WebApi.CaprezzoDigitale, build_public-client, master_deploy_WebApi.CaprezzoDigitale, master_deploy_public-client, staging_deploy_WebApi.CaprezzoDigitale, staging_deploy_public-client, production_deploy_WebApi.CaprezzoDigitale, production_deploy_public-client

add use cases
  documentation/use-cases/bacheca-del-paese.graphml
  documentation/use-cases/galleria-foto.graphml
  documentation/use-cases/start-program.graphml
  img/bacheca-del-paese.png
  img/galleria-foto.png
  img/start-program.bmp
Due: staging_deploy_WebApi.CaprezzoDigitale, staging_deploy_public-client, production_deploy_WebApi.CaprezzoDigitale, production_deploy_public-client

update readme + add immagini screenshot + qrcode
  img/gif-install-pwa-android/1.png
  img/gif-install-pwa-android/2.jpg
  img/gif-install-pwa-android/3.jpg
  img/gif-install-pwa-android/4.jpg
  img/gif-install-pwa-android/5.png
  img/gif-install-pwa-android/6.jpg
  img/gifinstall-pwa-desktop/0.png
  img/gifinstall-pwa-desktop/1.png
  img/gifinstall-pwa-desktop/2.png
  img/gifinstall-pwa-desktop/3.png
  img/install-pwa-android.gif
  img/install-pwa-desktop.gif
  img/qrcode_caprezzodigitale.it.png
  img/qrcode_github_repository.png
  img/qrcode_gitlab_repository.png
  readme.md
Due: none

update readme
  readme.md
  readme.pdf
Due: none

bugfix menu icon
  public-client/src/app/layout/shell/shell.component.html
Due: build_public-client, master_deploy_public-client, staging_deploy_WebApi.CaprezzoDigitale, staging_deploy_public-client, production_deploy_WebApi.CaprezzoDigitale, production_deploy_public-client

add info covid-19
  public-client/src/app/layout/shell/shell.component.css
  public-client/src/app/layout/shell/shell.component.html
  public-client/src/assets/icons/chart-tree.svg
  public-client/src/assets/icons/view-dashboard.svg
  public-client/src/assets/icons/virus-outline.svg
Due: build_public-client, master_deploy_public-client, staging_deploy_WebApi.CaprezzoDigitale, staging_deploy_public-client, production_deploy_WebApi.CaprezzoDigitale, production_deploy_public-client

add info fibra
  public-client/src/app/layout/shell/shell.component.html
  public-client/src/assets/icons/alert-outline.svg
  public-client/src/assets/icons/cable-data.svg
  public-client/src/assets/icons/map-marker-outline.svg
  public-client/src/assets/icons/map-search-outline.svg
Due: build_public-client, master_deploy_public-client, staging_deploy_WebApi.CaprezzoDigitale, staging_deploy_public-client, production_deploy_WebApi.CaprezzoDigitale, production_deploy_public-client

update last info
  public-client/src/app/layout/shell/shell.component.css
  public-client/src/app/layout/shell/shell.component.html
  public-client/src/assets/icons/chart-tree.svg
  public-client/src/assets/icons/view-dashboard.svg
  public-client/src/assets/images/Protezione_Civile_Logo.png
  public-client/src/assets/images/Regione-Piemonte.svg
  public-client/src/assets/images/alert-outline.svg
  public-client/src/assets/images/cable-data.svg
  public-client/src/assets/images/map-marker-outline.svg
  public-client/src/assets/images/map-search-outline.svg
  public-client/src/assets/images/ministero-della-salute.png
  public-client/src/assets/images/virus-outline.svg
  public-client/src/assets/images/who-world-health-organization.png
Due: build_public-client, master_deploy_public-client, staging_deploy_WebApi.CaprezzoDigitale, staging_deploy_public-client, production_deploy_WebApi.CaprezzoDigitale, production_deploy_public-client

removed component incomplete
  public-client/src/app/layout/shell/shell.component.html
Due: build_public-client, master_deploy_public-client, staging_deploy_WebApi.CaprezzoDigitale, staging_deploy_public-client, production_deploy_WebApi.CaprezzoDigitale, production_deploy_public-client

info & about #35
  public-client/src/app/component/info-about/info-about.component.css
  public-client/src/app/component/info-about/info-about.component.html
  public-client/src/app/component/info-about/info-about.component.ts
  public-client/src/assets/images/github.png
  public-client/src/assets/images/gitlab.png
  public-client/src/assets/images/license_icon.png
  public-client/src/assets/images/reload_refresh.png
Due: build_public-client, master_deploy_public-client, staging_deploy_WebApi.CaprezzoDigitale, staging_deploy_public-client, production_deploy_WebApi.CaprezzoDigitale, production_deploy_public-client

creato info-logo component
  public-client/src/app/app.module.ts
  public-client/src/app/component/info-about/info-about.component.css
  public-client/src/app/component/info-about/info-about.component.html
  public-client/src/app/component/info-about/info-about.component.ts
  public-client/src/app/component/info-logo/info-logo.component.css
  public-client/src/app/component/info-logo/info-logo.component.html
  public-client/src/app/component/info-logo/info-logo.component.spec.ts
  public-client/src/app/component/info-logo/info-logo.component.ts
Due: build_public-client, master_deploy_public-client, staging_deploy_WebApi.CaprezzoDigitale, staging_deploy_public-client, production_deploy_WebApi.CaprezzoDigitale, production_deploy_public-client

add "chi siamo" section #35
  public-client/src/app/component/team-people/team-people.component.css
  public-client/src/app/component/team-people/team-people.component.html
  public-client/src/app/component/team-people/team-people.component.ts
  public-client/src/app/layout/shell/shell.component.html
  public-client/src/assets/images/christian.jpg
  public-client/src/assets/images/jessica.jpg
  public-client/src/assets/images/stefano.jpg
Due: build_public-client, master_deploy_public-client, staging_deploy_WebApi.CaprezzoDigitale, staging_deploy_public-client, production_deploy_WebApi.CaprezzoDigitale, production_deploy_public-client
