Repository ccarcione/caprezzo-digitale: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_WebApi.CaprezzoDigitale, build_public-client, master_deploy_WebApi.CaprezzoDigitale, master_deploy_public-client, staging_deploy_WebApi.CaprezzoDigitale, staging_deploy_public-client, production_deploy_WebApi.CaprezzoDigitale, production_deploy_public-client

build_WebApi.CaprezzoDigitale:
  stage: build
  image: mcr.microsoft.com/dotnet/core/sdk:3.1
  script:
  - cd WebApi.CaprezzoDigitale
  - dotnet restore
  - dotnet build --configuration Debug

build_public-client:
  stage: build
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
    - public-client/node_modules/
  image: registry.gitlab.com/projects-experimenta/cre-tv:angular-cli-9.1.6
  script:
  - cd public-client
  - npm i
  - ng build

master_deploy_WebApi.CaprezzoDigitale:
  image: mcr.microsoft.com/dotnet/core/sdk:3.1
  script:
  - echo "add trust host"
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  - ssh-keyscan -H $HOST >> ~/.ssh/known_hosts
  - chmod 644 ~/.ssh/known_hosts
  - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
  ...

master_deploy_public-client:
  image: registry.gitlab.com/projects-experimenta/cre-tv:angular-cli-9.1.6
  script:
  - echo "add trust host"
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  - ssh-keyscan -H $HOST >> ~/.ssh/known_hosts
  - chmod 644 ~/.ssh/known_hosts
  ...

staging_deploy_WebApi.CaprezzoDigitale:
  image: mcr.microsoft.com/dotnet/core/sdk:3.1
  script:
  - echo "add trust host"
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  - ssh-keyscan -H $HOST >> ~/.ssh/known_hosts
  - chmod 644 ~/.ssh/known_hosts
  - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
  ...

staging_deploy_public-client:
  image: registry.gitlab.com/projects-experimenta/cre-tv:angular-cli-9.1.6
  script:
  - echo "add trust host"
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  - ssh-keyscan -H $HOST >> ~/.ssh/known_hosts
  - chmod 644 ~/.ssh/known_hosts
  ...

production_deploy_WebApi.CaprezzoDigitale:
  image: mcr.microsoft.com/dotnet/core/sdk:3.1
  script:
  - echo "add trust host"
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  - ssh-keyscan -H $HOST >> ~/.ssh/known_hosts
  - chmod 644 ~/.ssh/known_hosts
  - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
  ...

production_deploy_public-client:
  image: registry.gitlab.com/projects-experimenta/cre-tv:angular-cli-9.1.6
  script:
  - echo "add trust host"
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  - ssh-keyscan -H $HOST >> ~/.ssh/known_hosts
  - chmod 644 ~/.ssh/known_hosts
  ...

commentato per prima pubblicazione
  WebApi.CaprezzoDigitale/Startup.cs
Due: build_WebApi.CaprezzoDigitale, master_deploy_WebApi.CaprezzoDigitale, staging_deploy_WebApi.CaprezzoDigitale, staging_deploy_public-client, production_deploy_WebApi.CaprezzoDigitale, production_deploy_public-client

v1.12.000 RC-1
  WebApi.CaprezzoDigitale/WebApi.CaprezzoDigitale.csproj
  public-client/src/assets/version.json
Due: build_WebApi.CaprezzoDigitale, build_public-client, master_deploy_WebApi.CaprezzoDigitale, master_deploy_public-client, staging_deploy_WebApi.CaprezzoDigitale, staging_deploy_public-client, production_deploy_WebApi.CaprezzoDigitale, production_deploy_public-client

bugfix + v1.12.1
  WebApi.CaprezzoDigitale/WebApi.CaprezzoDigitale.csproj
  public-client/package.json
  public-client/src/app/component/info-about/info-about.component.html
  public-client/src/app/component/info-logo/info-logo.component.css
  public-client/src/assets/version.json
Due: build_WebApi.CaprezzoDigitale, build_public-client, master_deploy_WebApi.CaprezzoDigitale, master_deploy_public-client, staging_deploy_WebApi.CaprezzoDigitale, staging_deploy_public-client, production_deploy_WebApi.CaprezzoDigitale, production_deploy_public-client

v1.12.2 production publish
  WebApi.CaprezzoDigitale/WebApi.CaprezzoDigitale.csproj
  public-client/package.json
  public-client/src/assets/version.json
Due: build_WebApi.CaprezzoDigitale, build_public-client, master_deploy_WebApi.CaprezzoDigitale, master_deploy_public-client, staging_deploy_WebApi.CaprezzoDigitale, staging_deploy_public-client, production_deploy_WebApi.CaprezzoDigitale, production_deploy_public-client

add new .net api project
  CaprezzoDigitale.WebApi/.gitignore
  CaprezzoDigitale.WebApi/CaprezzoDigitale.WebApi.csproj
  CaprezzoDigitale.WebApi/CaprezzoDigitale.WebApi.sln
  CaprezzoDigitale.WebApi/Controllers/WeatherForecastController.cs
  CaprezzoDigitale.WebApi/Program.cs
  CaprezzoDigitale.WebApi/Properties/launchSettings.json
  CaprezzoDigitale.WebApi/WeatherForecast.cs
  CaprezzoDigitale.WebApi/appsettings.json
Due: staging_deploy_WebApi.CaprezzoDigitale, staging_deploy_public-client, production_deploy_WebApi.CaprezzoDigitale, production_deploy_public-client

update .gitignore
  CaprezzoDigitale.WebApi/.gitignore
  CaprezzoDigitale.WebApi/appsettings.Development.json
Due: staging_deploy_WebApi.CaprezzoDigitale, staging_deploy_public-client, production_deploy_WebApi.CaprezzoDigitale, production_deploy_public-client

porting controller
  CaprezzoDigitale.WebApi/CaprezzoDigitale.WebApi.csproj
  CaprezzoDigitale.WebApi/Controllers/AllertaController.cs
  CaprezzoDigitale.WebApi/Controllers/FeedbackController.cs
  CaprezzoDigitale.WebApi/Controllers/GalleriaController.cs
  CaprezzoDigitale.WebApi/Controllers/LogController.cs
  CaprezzoDigitale.WebApi/Controllers/MessaggioController.cs
  CaprezzoDigitale.WebApi/Controllers/StatisticheController.cs
  CaprezzoDigitale.WebApi/Helpers/DatabaseHelper.cs
  CaprezzoDigitale.WebApi/Helpers/UtilityHelper.cs
  CaprezzoDigitale.WebApi/Program.cs
  CaprezzoDigitale.WebApi/appsettings.json
Due: staging_deploy_WebApi.CaprezzoDigitale, staging_deploy_public-client, production_deploy_WebApi.CaprezzoDigitale, production_deploy_public-client

Revert "update .gitignore"
  CaprezzoDigitale.WebApi/.gitignore
  CaprezzoDigitale.WebApi/appsettings.Development.json
Due: staging_deploy_WebApi.CaprezzoDigitale, staging_deploy_public-client, production_deploy_WebApi.CaprezzoDigitale, production_deploy_public-client

add LogController
  CaprezzoDigitale.WebApi/Controllers/LogController.cs
Due: staging_deploy_WebApi.CaprezzoDigitale, staging_deploy_public-client, production_deploy_WebApi.CaprezzoDigitale, production_deploy_public-client

add UseStaticFilesCaprezzoDigitale
  CaprezzoDigitale.WebApi/ExtensionMethods/IApplicationBuilderExtension.cs
  CaprezzoDigitale.WebApi/Program.cs
Due: staging_deploy_WebApi.CaprezzoDigitale, staging_deploy_public-client, production_deploy_WebApi.CaprezzoDigitale, production_deploy_public-client

add ApiKeyAuth
  CaprezzoDigitale.WebApi/ApiKeyAuthorization/ApiKeyAuthAttribute.cs
  CaprezzoDigitale.WebApi/ApiKeyAuthorization/ApiKeyAuthOptions.cs
  CaprezzoDigitale.WebApi/Models/Options.cs
  CaprezzoDigitale.WebApi/Program.cs
  CaprezzoDigitale.WebApi/appsettings.json
Due: staging_deploy_WebApi.CaprezzoDigitale, staging_deploy_public-client, production_deploy_WebApi.CaprezzoDigitale, production_deploy_public-client

hide/show header icons button = remove user info
  public-client/src/app/core/settings.ts
  public-client/src/app/theme/header/header.component.html
Due: build_public-client, master_deploy_public-client, staging_deploy_WebApi.CaprezzoDigitale, staging_deploy_public-client, production_deploy_WebApi.CaprezzoDigitale, production_deploy_public-client

force dark theme
  public-client/src/app/theme/admin-layout/admin-layout.component.ts
Due: build_public-client, master_deploy_public-client, staging_deploy_WebApi.CaprezzoDigitale, staging_deploy_public-client, production_deploy_WebApi.CaprezzoDigitale, production_deploy_public-client

disable fake login
  public-client/src/app/app.module.ts
  public-client/src/app/routes/routes-routing.module.ts
Due: build_public-client, master_deploy_public-client, staging_deploy_WebApi.CaprezzoDigitale, staging_deploy_public-client, production_deploy_WebApi.CaprezzoDigitale, production_deploy_public-client

customize page-header + breadcrumb
  public-client/src/app/shared/components/breadcrumb/breadcrumb.component.html
  public-client/src/app/shared/components/page-header/page-header.component.html
  public-client/src/app/shared/components/page-header/page-header.component.scss
Due: build_public-client, master_deploy_public-client, staging_deploy_WebApi.CaprezzoDigitale, staging_deploy_public-client, production_deploy_WebApi.CaprezzoDigitale, production_deploy_public-client

add more lang and set IT default
  public-client/src/app/core/bootstrap/startup.service.ts
  public-client/src/app/core/bootstrap/translate-lang.service.ts
  public-client/src/app/core/settings.ts
  public-client/src/app/theme/widgets/translate.component.ts
  public-client/src/assets/i18n/de-DE.json
  public-client/src/assets/i18n/es-ES.json
  public-client/src/assets/i18n/fr-FR.json
  public-client/src/assets/i18n/it-IT.json
  public-client/src/assets/i18n/zh-CN.json
  public-client/src/assets/i18n/zh-TW.json
Due: build_public-client, master_deploy_public-client, staging_deploy_WebApi.CaprezzoDigitale, staging_deploy_public-client, production_deploy_WebApi.CaprezzoDigitale, production_deploy_public-client

save lang user preference + customize lang menu
  public-client/src/app/core/bootstrap/settings.service.ts
  public-client/src/app/core/bootstrap/translate-lang.service.ts
  public-client/src/app/theme/widgets/translate.component.ts
  public-client/src/assets/images/de-DE.svg
  public-client/src/assets/images/en-US.svg
  public-client/src/assets/images/es-ES.svg
  public-client/src/assets/images/fr-FR.svg
  public-client/src/assets/images/it-IT.svg
Due: build_public-client, master_deploy_public-client, staging_deploy_WebApi.CaprezzoDigitale, staging_deploy_public-client, production_deploy_WebApi.CaprezzoDigitale, production_deploy_public-client

add menu' + lang file
  public-client/src/assets/data/menu.json
  public-client/src/assets/i18n/de-DE.json
  public-client/src/assets/i18n/en-US.json
  public-client/src/assets/i18n/es-ES.json
  public-client/src/assets/i18n/fr-FR.json
  public-client/src/assets/i18n/it-IT.json
Due: build_public-client, master_deploy_public-client, staging_deploy_WebApi.CaprezzoDigitale, staging_deploy_public-client, production_deploy_WebApi.CaprezzoDigitale, production_deploy_public-client

customize sidebar + branding
  public-client/src/app/theme/sidebar/sidebar.component.html
  public-client/src/app/theme/sidebar/sidebar.component.ts
  public-client/src/app/theme/widgets/branding.component.ts
  public-client/src/assets/images/icon-original.png
Due: build_public-client, master_deploy_public-client, staging_deploy_WebApi.CaprezzoDigitale, staging_deploy_public-client, production_deploy_WebApi.CaprezzoDigitale, production_deploy_public-client

theme always in automatic mode based on the time
  public-client/package-lock.json
  public-client/package.json
  public-client/src/app/core/settings.ts
  public-client/src/app/theme/admin-layout/admin-layout.component.ts
Due: build_public-client, master_deploy_public-client, staging_deploy_WebApi.CaprezzoDigitale, staging_deploy_public-client, production_deploy_WebApi.CaprezzoDigitale, production_deploy_public-client

add pwa (not tested) + update service + toastr benvenuto
  public-client/angular.json
  public-client/ngsw-config.json
  public-client/package-lock.json
  public-client/package.json
  public-client/src/app/app.module.ts
  public-client/src/app/core/bootstrap/startup.service.ts
  public-client/src/app/core/pwa-update-service/pwa-update-service.service.spec.ts
  public-client/src/app/core/pwa-update-service/pwa-update-service.service.ts
  public-client/src/app/theme/admin-layout/admin-layout.component.ts
  public-client/src/assets/icons/icon-128x128.png
  public-client/src/assets/icons/icon-144x144.png
  public-client/src/assets/icons/icon-152x152.png
  public-client/src/assets/icons/icon-192x192.png
  public-client/src/assets/icons/icon-384x384.png
  public-client/src/assets/icons/icon-512x512.png
  public-client/src/assets/icons/icon-72x72.png
  public-client/src/assets/icons/icon-96x96.png
  public-client/src/assets/icons/icon.png
  public-client/src/assets/images/installPopup1.png
  public-client/src/assets/images/installPopup2.png
  public-client/src/css/btn-info.css
  public-client/src/css/ngx-extended-pdf-viewer.css
  public-client/src/css/popup-style.css
  public-client/src/css/toastnotify.css
  public-client/src/css/toastr.css
  public-client/src/index.html
  public-client/src/js/index.js
  public-client/src/js/toastnotify.js
  public-client/src/manifest.webmanifest
Due: build_public-client, master_deploy_public-client, staging_deploy_WebApi.CaprezzoDigitale, staging_deploy_public-client, production_deploy_WebApi.CaprezzoDigitale, production_deploy_public-client

fix favicon.ico
  public-client/src/favicon-96x96.png
  public-client/src/favicon.ico
  public-client/src/index.html
Due: build_public-client, master_deploy_public-client, staging_deploy_WebApi.CaprezzoDigitale, staging_deploy_public-client, production_deploy_WebApi.CaprezzoDigitale, production_deploy_public-client

add docker-local
  docker/.dockerignore
  docker/docker-compose.docker-local.yml
  public-client/angular.json
  public-client/package.json
  public-client/src/environments/environment.docker-local.ts
  scripts/run-docker-local.ps1
Due: build_public-client, master_deploy_public-client, staging_deploy_WebApi.CaprezzoDigitale, staging_deploy_public-client, production_deploy_WebApi.CaprezzoDigitale, production_deploy_public-client

update option seed data
  CaprezzoDigitale.WebApi/Helpers/DatabaseHelper.cs
  CaprezzoDigitale.WebApi/Program.cs
  CaprezzoDigitale.WebApi/appsettings.json
Due: staging_deploy_WebApi.CaprezzoDigitale, staging_deploy_public-client, production_deploy_WebApi.CaprezzoDigitale, production_deploy_public-client

add docker staging
  .dockerignore
  docker/api.dockerfile
  docker/docker-compose.staging.yml
  docker/public-client-site.conf
  docker/site.dockerfile
  scripts/run-staging.ps1
Due: staging_deploy_WebApi.CaprezzoDigitale, staging_deploy_public-client, production_deploy_WebApi.CaprezzoDigitale, production_deploy_public-client

update cicd docker
  .gitlab-ci.yml
  docker/caprezzodigitale.experimenta.cloud.conf
  docker/docker-compose.staging-cicd.yml
Due: staging_deploy_WebApi.CaprezzoDigitale, staging_deploy_public-client, production_deploy_WebApi.CaprezzoDigitale, production_deploy_public-client

fix docker pull image cicd
  .gitlab-ci.yml
Due: staging_deploy_WebApi.CaprezzoDigitale, staging_deploy_public-client, production_deploy_WebApi.CaprezzoDigitale, production_deploy_public-client

fix docker pull image cicd
  docker/docker-compose.staging-cicd.yml
Due: staging_deploy_WebApi.CaprezzoDigitale, staging_deploy_public-client, production_deploy_WebApi.CaprezzoDigitale, production_deploy_public-client

add appsettings.staging.json
  .gitlab-ci.yml
  CaprezzoDigitale.WebApi/.gitignore
  CaprezzoDigitale.WebApi/appsettings.staging.json
Due: staging_deploy_WebApi.CaprezzoDigitale, staging_deploy_public-client, production_deploy_WebApi.CaprezzoDigitale, production_deploy_public-client

fix path
  .gitlab-ci.yml
Due: staging_deploy_WebApi.CaprezzoDigitale, staging_deploy_public-client, production_deploy_WebApi.CaprezzoDigitale, production_deploy_public-client

fix image name
  .gitlab-ci.yml
  docker/docker-compose.staging-cicd.yml
Due: staging_deploy_WebApi.CaprezzoDigitale, staging_deploy_public-client, production_deploy_WebApi.CaprezzoDigitale, production_deploy_public-client

fix cicd
  .gitlab-ci.yml
  docker/docker-compose.staging-cicd.yml
Due: staging_deploy_WebApi.CaprezzoDigitale, staging_deploy_public-client, production_deploy_WebApi.CaprezzoDigitale, production_deploy_public-client

update nginx config staging
  docker/caprezzodigitale.experimenta.cloud.conf
Due: staging_deploy_WebApi.CaprezzoDigitale, staging_deploy_public-client, production_deploy_WebApi.CaprezzoDigitale, production_deploy_public-client

add notifications backend
  CaprezzoDigitale.WebApi/CaprezzoDigitale.WebApi.csproj
  CaprezzoDigitale.WebApi/Controllers/NotificationController.cs
  CaprezzoDigitale.WebApi/Migrations/20220715223752_add-notifications.Designer.cs
  CaprezzoDigitale.WebApi/Migrations/20220715223752_add-notifications.cs
  CaprezzoDigitale.WebApi/Models/ApplicationDbContext.cs
  CaprezzoDigitale.WebApi/Models/Subscription.cs
  CaprezzoDigitale.WebApi/Program.cs
  CaprezzoDigitale.WebApi/appsettings.json
  CaprezzoDigitale.WebApi/appsettings.staging.json
Due: staging_deploy_WebApi.CaprezzoDigitale, staging_deploy_public-client, production_deploy_WebApi.CaprezzoDigitale, production_deploy_public-client

add notifications client
  public-client/.gitignore
  public-client/src/app/theme/notifications-list/notifications-list.component.html
  public-client/src/app/theme/notifications-list/notifications-list.component.scss
  public-client/src/app/theme/notifications-list/notifications-list.component.ts
  public-client/src/app/theme/notifications/notifications.service.ts
  public-client/src/app/theme/sidebar-notice/sidebar-notice.component.html
  public-client/src/app/theme/theme.module.ts
  public-client/src/assets/i18n/en-US.json
  public-client/src/assets/i18n/it-IT.json
  public-client/src/environments/environment.docker-local.ts
  public-client/src/environments/environment.prod.ts
  public-client/src/environments/environment.ts
Due: build_public-client, master_deploy_public-client, staging_deploy_WebApi.CaprezzoDigitale, staging_deploy_public-client, production_deploy_WebApi.CaprezzoDigitale, production_deploy_public-client

update cicd
  .gitlab-ci.yml
Due: staging_deploy_WebApi.CaprezzoDigitale, staging_deploy_public-client, production_deploy_WebApi.CaprezzoDigitale, production_deploy_public-client

Path conditions:
  build_WebApi.CaprezzoDigitale: (any of: WebApi.CaprezzoDigitale/**/*) and (not (any of: *.md))
  build_public-client: (any of: public-client/**/*) and (not (any of: *.md))
  master_deploy_WebApi.CaprezzoDigitale: (any of: WebApi.CaprezzoDigitale/**/*) and (not (any of: *.md))
  master_deploy_public-client: (any of: public-client/**/*) and (not (any of: *.md))
  staging_deploy_WebApi.CaprezzoDigitale: not (any of: *.md)
  staging_deploy_public-client: not (any of: *.md)
  production_deploy_WebApi.CaprezzoDigitale: not (any of: *.md)
  production_deploy_public-client: not (any of: *.md)
